<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       ">
    <!--和下边无关-->
    <context:component-scan base-package="org.shihe.service">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <!--springapi自定义前置通知-->
    <bean id="log" class="org.shihe.springapi.Log"/>
    <!--配置aop-->
    <aop:config>
        <aop:pointcut id="pc" expression="execution(* org.shihe.service.*.*(..))"/>
        <aop:advisor advice-ref="log" pointcut-ref="pc"/>
    </aop:config>



</beans>