<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
       ">

    <context:component-scan base-package="org.shihe.pojo"/>
    <!--无参构造注入-->
    <!--<bean id="user1" class="org.shihe.pojo.User">
    </bean>

    &lt;!&ndash;有参构造注入&ndash;&gt;
    <bean id="user2" class="org.shihe.pojo.User">
        <constructor-arg name="username" value="张三"></constructor-arg>
        <constructor-arg name="age" value="12"></constructor-arg>
    </bean>

    &lt;!&ndash;无参构造 set注入&ndash;&gt;
    <bean id="user3" class="org.shihe.pojo.User">
        <property name="username" value="李四"></property>
        <property name="age" value="23"></property>
        <property name="sex" value="true"></property>
    </bean>

    &lt;!&ndash;静态工厂方法注入&ndash;&gt;&lt;!&ndash;工厂类  静态方法&ndash;&gt;
    <bean class="org.shihe.pojo.FactoryDog" factory-method="getInstence" id="dog"></bean>

    &lt;!&ndash;实例工厂方法注入&ndash;&gt;&lt;!&ndash;工厂类 &ndash;&gt;&lt;!&ndash;实例方法&ndash;&gt;
    <bean id="factoryDog" class="org.shihe.pojo.FactoryDog" ></bean>
    <bean id="dog2" factory-bean="factoryDog" factory-method="getInstence2"></bean>-->

</beans>